* {
    primary:                    {color2};
    primary-fixed:              {color2.lighten_30};
    primary-fixed-dim:          {color5};
    on-primary:                 {background};
    on-primary-fixed:           {foreground};
    on-primary-fixed-variant:   {color8};
    primary-container:          {color2.lighten_20};
    on-primary-container:       {background};
    secondary:                  {color3};
    secondary-fixed:            {color3.lighten_30};
    secondary-fixed-dim:        {color6};
    on-secondary:               {background};
    on-secondary-fixed:         {foreground};
    on-secondary-fixed-variant: {color8};
    secondary-container:        {color3.lighten_20};
    on-secondary-container:     {background};
    tertiary:                   {color4};
    tertiary-fixed:             {color4.lighten_30};
    tertiary-fixed-dim:         {color4.darken_20};
    on-tertiary:                {background};
    on-tertiary-fixed:          {foreground};
    on-tertiary-fixed-variant:  {color8};
    tertiary-container:         {color4.lighten_20};
    on-tertiary-container:      {background};
    error:                      {color1};
    on-error:                   {background};
    error-container:            {color1.lighten_20};
    on-error-container:         {background};
    surface:                    {background};
    on-surface:                 {foreground};
    on-surface-variant:         {foreground.darken_20};
    outline:                    {color8};
    outline-variant:            {color8.darken_20};
    shadow:                     {background.darken_20};
    scrim:                      {background};
    inverse-surface:            {foreground};
    inverse-on-surface:         {background};
    inverse-primary:            {color2.lighten_30};
    surface-dim:                {background.darken_5};
    surface-bright:             {background.lighten_20};
    surface-container-lowest:   {background.darken_15};
    surface-container-low:      {background.darken_8};
    surface-container:          {background.lighten_5};
    surface-container-high:     {background.lighten_10};
    surface-container-highest:  {background.lighten_15};
}